@font-face {
    font-family: 'calculator';
    src: url('./fonts/calculator/Calculator.ttf')
         format('truetype');
}

html, body {
    min-height: 100vh;
}

body {
    display: grid;
    place-content: center;
    background: linear-gradient(to right, #F6D285, #BBF0F3);
}

.grid-col-span-2 {
    grid-column: span 2;
}

.grid-col-span-4 {
    grid-column: span 4;
}

.calculator-container {
    display: grid;    
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5,100px);
    border: 3mm solid #264653;    
}



.output-screen .previous-operand {
    font-size: 2rem;
    
}

.output-screen {
    background-color: #264653;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    font-size: 2.5rem;
    word-break: break-all;
    padding-inline-end: 10px;
    padding-inline-start: 10px;
    font-family: 'calculator';
    color: #E76F51;
}



.calculator-container button {
    outline: none;
    cursor: pointer;
    border: 1px solid #264653;
    font-size: 2rem;
}

.clear,
.delete {
    background-color: #F4A261;
}

.number {
    background-color: #2A9D8F;
    
}

.calculator-container button:hover {
    filter: brightness(1.1);
}

.equals,
.operation {
    background-color: #E9C46A;
}